.boardContainer {
  background-color: #f4f7fd;
  width: 88rem;
  min-height: 100%;
  padding: 2rem 0 0 1rem;
  overflow: scroll;
  display: flex;
  gap: 1rem;
}
.column {
  min-width: 19rem;
  background-color: black;
}
