.dropDownBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  border: 1px solid rgba(130, 143, 163, 0.25);
}
.toggleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
