.overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.taskModalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 30rem;
  max-height: 45rem;
  transform: translate(-50%, -50%);
  z-index: 10000;
  border-radius: 10px;
  padding: 2rem;
}
.taskModalheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.crossIcon {
  width: 4%;
  fill: #828fa3;
}
.crossIcon:hover {
  cursor: pointer;
}
.taskNameContainer {
  margin-bottom: 1.5rem;
}
.taskNameInput {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  outline: none;
  position: relative;
}
.taskNameInput::placeholder {
  color: rgba(130, 143, 163, 0.598);
}
.taskNameInput:not(.inputError):focus {
  border: 1px solid rgb(33, 33, 182);
}
.taskLabel {
  display: block;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  color: #828fa3;
}
.descriptionBox {
  width: 100%;
  border: 1px solid rgba(130, 143, 163, 0.25);
  outline: none;
  height: 10rem;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.descriptionBox:not(.inputError):focus {
  border: 1px solid rgb(33, 33, 182);
}
.error {
  font-size: 0.8rem;
  color: rgb(226, 17, 17);
  position: absolute;
  right: 7%;
  bottom: 30%;
}
input.inputError {
  border: 1px solid rgb(226, 17, 17);
}
.boardColumn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.boardColumn div {
  width: 100%;
}
.boardColumns {
  display: flex;
  width: 100%;
  /* min-height: 10rem; */
  max-height: 10rem;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
}
.boardNameInput {
  width: 95%;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  outline: none;
  position: relative;
}
.boardNameInput::placeholder {
  color: rgba(130, 143, 163, 0.598);
}
.boardNameInput:not(.inputError):focus {
  border: 1px solid rgb(33, 33, 182);
}

.statusContainer {
  position: relative;
}

.inputContainer {
  width: 100%;
  position: relative;
}
.errorPlace {
  right: 15%;
}
.inputWidth {
  width: 95%;
}
